<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <upturnstudio_googlefeed>
            <generation>
                <batch_size>500</batch_size>
            </generation>
            <tracking>
                <enabled>1</enabled>
                <cookie_lifetime>90</cookie_lifetime>
                <respect_cookie_restriction>1</respect_cookie_restriction>
            </tracking>
            <mcp>
                <allow_write>0</allow_write>
            </mcp>
            <subscription>
                <key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <validation_url/>
            </subscription>
        </upturnstudio_googlefeed>
    </default>
</config>
