<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="upturnstudio_google_attributes" xsi:type="array">
                    <item name="class" xsi:type="string">UpturnStudio\GoogleFeed\Ui\DataProvider\Product\Form\Modifier\GoogleAttributes</item>
                    <item name="sortOrder" xsi:type="number">900</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="upturnstudioGoogleFeedSubscription" xsi:type="string">UpturnStudio\GoogleFeed\Model\Licence\AdminNotice</item>
            </argument>
        </arguments>
    </type>
</config>
